### bcutty's bastion cfg ###

### includes ###
[include shell_command.cfg]
[include fluidd.cfg]
[include mainsail.cfg]
[include macros.cfg]
[include sensorless.cfg]
[include ebb.cfg]
#[include led_progress.cfg]

[exclude_object]
[gcode_arcs]

### mcu/printer specifics ###

### skr pico in canbridge mode ###
[mcu]
canbus_uuid: 16589db7ffb7

### skr mini e3 v3 ###
[mcu skrmini]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_1D001C000450415339373620-if00
restart_method: command

[mcu CB1]
serial: /tmp/klipper_host_mcu

[printer]
kinematics: corexy
max_velocity: 400
max_accel: 30000 #Motion system can do this, but input shaper says don't go above 8300 :)
max_z_velocity: 100
max_z_accel: 300

[virtual_sdcard]
path: /home/biqu/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[idle_timeout]
timeout: 14400
gcode:
    status_off
    M84 X Y E
    M84 S1200

[duplicate_pin_override]
pins: temperature_mcu

### temp sensors ###
[temperature_sensor pi] 
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor pico] 
sensor_type: temperature_mcu 
sensor_mcu: mcu 
min_temp: 0
max_temp: 100

[temperature_sensor skr_mini]
sensor_type: temperature_mcu 
sensor_mcu: skrmini
min_temp: 0
max_temp: 100

#[temperature_sensor chamber]
#sensor_type:  XXX
#sensor_pin:   gpio27

### AB steppers ###
[stepper_x]
step_pin: gpio11
dir_pin: !gpio10
enable_pin: !gpio12
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200
endstop_pin: tmc2209_stepper_x:virtual_endstop
homing_retract_dist: 0
position_endstop: 255
position_min: -21
position_max: 255
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 0
run_current: 1.2
hold_current: 0.6
#interpolate: true
#stealthchop_threshold: 999999
diag_pin: ^gpio4
driver_SGTHRS: 120

[stepper_y]
step_pin: gpio14
dir_pin: !gpio13
enable_pin: !gpio15
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200
endstop_pin: tmc2209_stepper_y:virtual_endstop
homing_retract_dist: 0
position_endstop: 238
position_min: -10
position_max: 238
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 3
run_current: 1.2
hold_current: 0.6
#interpolate: true
#stealthchop_threshold: 999999
diag_pin: ^gpio16
driver_SGTHRS: 120

### z steppers ###
[stepper_z]
step_pin: skrmini:PB0
dir_pin: skrmini:PC5
enable_pin: !skrmini:PB1
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200
endstop_pin: probe:z_virtual_endstop
position_max: 320
position_min: -10
homing_speed: 16
second_homing_speed: 3
homing_retract_dist: 5

[tmc2209 stepper_z]
uart_pin: skrmini:PC11
tx_pin: skrmini:PC10
uart_address: 1
run_current: 0.650
stealthchop_threshold: 999999

[stepper_z1]
step_pin: skrmini:PB13
dir_pin: !skrmini:PB12
enable_pin: !skrmini:PB14
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200

[tmc2209 stepper_z1]
uart_pin: skrmini:PC11
tx_pin: skrmini:PC10
uart_address: 0
run_current: 0.650
stealthchop_threshold: 999999

[stepper_z2]
step_pin: skrmini:PB3
dir_pin: !skrmini:PB4
enable_pin: !skrmini:PD1
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200

[tmc2209 stepper_z2]
uart_pin: skrmini:PC11
tx_pin: skrmini:PC10
uart_address: 3
run_current: 0.650
stealthchop_threshold: 999999

### cr touch ###
[bltouch]
sensor_pin: ^EBBCan:PB8
control_pin: EBBCan:PB9
x_offset: 0
y_offset: 51
#z_offset: 0
#pin_move_time: 0.4 #default value is 0.68
speed: 15
lift_speed: 15
samples: 1
#sample_retract_dist: 3.0
#probe_with_touch_mode: false
#stow_on_each_sample: true

### z tilt and bed mesh ###
[z_tilt]
horizontal_move_z: 10
z_positions:
    -40, -2
    115, 300
    270, -2
points:
    15, 0
    115, 170
    220, 0
speed: 150
retries: 7
retry_tolerance: 0.05

[bed_mesh]
speed: 200
horizontal_move_z: 5
mesh_min: 10, 51
mesh_max: 220, 220
probe_count: 5, 5
algorithm: bicubic

### heated bed ###
[heater_bed]
heater_pin: skrmini:PC9
sensor_type: EPCOS 100K B57560G104F
sensor_pin: skrmini:PC4
min_temp: 0
max_temp: 130
#control: watermark

### extruder ###
[extruder]
step_pin: EBBCan: PD0
dir_pin: !EBBCan: PD1
enable_pin: !EBBCan: PD2
microsteps: 16
rotation_distance: 22.67895                    # sailfin
gear_ratio: 50:10                              # sailfin with 10t motor
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBBCan: PB13
sensor_type: NTC 100K MGB18-104F39050L32       # red lizard k1 pro
sensor_pin: EBBCan: PA3
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: -200
max_temp: 300
max_extrude_only_distance: 500.0

[tmc2209 extruder]
uart_pin: EBBCan: PA15
run_current: 0.650
stealthchop_threshold: 999999

### fans ###

#[temperature_fan pico] 
#pin: gpio20 
#control: watermark 
#max_delta: 3.0 
#sensor_type: temperature_mcu 
#sensor_mcu: mcu 
#min_temp: 0 
#max_temp: 85.0 
#target_temp: 35.0 
#max_power: 1 #for 100% 
#shutdown_speed: 1.0

#[output_pin nevermore]
#pin: XXX
#value: 0
#shutdown_value: 0

### neopixels and lights ###

#[neopixel case_light]
#pin: gpio24
#chain_count: 32

#[led case_light]
#red_pin:
#green_pin:
#blue_pin:
#white_pin: gpio21
#   The pin controlling the given LED color. At least one of the above
#   parameters must be provided.
#cycle_time: 0.010
#   The amount of time (in seconds) per PWM cycle. It is recommended
#   this be 10 milliseconds or greater when using software based PWM.
#   The default is 0.010 seconds.
#hardware_pwm: False
#   Enable this to use hardware PWM instead of software PWM. When
#   using hardware PWM the actual cycle time is constrained by the
#   implementation and may be significantly different than the
#   requested cycle_time. The default is False.
#initial_RED: 0.0
#initial_GREEN: 0.0
#initial_BLUE: 0.0
#initial_WHITE: 1.0
#   Sets the initial LED color. Each value should be between 0.0 and
#   1.0. The default for each color is 0.

#[gcode_button lights_toggle]
#pin: !skrmini: PA5
#press_gcode:
#    SET_LED LED=case_light WHITE={0 if printer['led case_light'].color_data[0][3] else 1 }


#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.019551, 0.030449, 0.055449, -0.019551, 0.017949
#*# 	-0.032051, 0.005449, 0.017949, -0.007051, 0.005449
#*# 	-0.044551, -0.019551, 0.005449, 0.030449, 0.042949
#*# 	-0.082051, -0.044551, 0.005449, 0.042949, 0.055449
#*# 	-0.082051, -0.057051, 0.005449, 0.042949, 0.130449
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 220.0
#*# min_y = 51.0
#*# max_y = 220.0
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 66.781
#*# pid_ki = 0.799
#*# pid_kd = 1394.962
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 35.196
#*# pid_ki = 10.202
#*# pid_kd = 30.358
#*#
#*# [bltouch]
#*# z_offset = 2.400
